<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME)" />
  <arg name="debug" default="false" />
  <arg name="fcu_frame" default="fcu_$(arg uav_name)"/>
  <arg name="sensor_frame" default="$(arg uav_name)/os1_sensor"/>
  <arg name="rviz" default="false" />

  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args"/>

  <group ns="$(arg uav_name)">

    <param name="scan_line" type="int" value="64" />

    <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
    <param name="mapping_skip_frame" type="int" value="1" />

    <!-- remove too closed points -->
    <param name="minimum_range" type="double" value="0.5"/>


    <param name="mapping_line_resolution" type="double" value="0.4"/>
    <param name="mapping_plane_resolution" type="double" value="0.8"/>

    <!-- Registration node -->
    <node pkg="aloam_velodyne" type="ascanRegistration" name="aloam_registration" output="screen">

      <!-- Subscribers -->
      <!-- <remap from="/velodyne_points" to="os1_cloud_node/points"/> -->
      <remap from="/velodyne_points" to="os1_cloud_node/points/sensor_frame"/>

      <!-- Publishers -->
      <remap from="/laser_cloud_flat" to="~laser_cloud_flat"/>
      <remap from="/laser_cloud_less_flat" to="~laser_cloud_less_flat"/>
      <remap from="/laser_cloud_sharp" to="~laser_cloud_sharp"/>
      <remap from="/laser_cloud_less_sharp" to="~laser_cloud_less_sharp"/>
      <remap from="/laser_remove_points" to="~laser_remove_points"/>
      <remap from="/velodyne_cloud_registered" to="~ouster_cloud_registered"/>
      <remap from="/velodyne_cloud_2" to="~ouster_cloud_2"/>

    </node>

    <!-- Odometry node -->
    <node pkg="aloam_velodyne" type="alaserOdometry" name="aloam_odometry" output="screen">

      <!-- Subscribers -->
      <remap from="/velodyne_cloud_2" to="aloam_registration/ouster_cloud_2"/>
      <remap from="/laser_cloud_flat" to="aloam_registration/laser_cloud_flat"/>
      <remap from="/laser_cloud_less_flat" to="aloam_registration/laser_cloud_less_flat"/>
      <remap from="/laser_cloud_sharp" to="aloam_registration/laser_cloud_sharp"/>
      <remap from="/laser_cloud_less_sharp" to="aloam_registration/laser_cloud_less_sharp"/>

      <!-- Publishers -->
      <remap from="/velodyne_cloud_3" to="~ouster_cloud_3"/>
      <remap from="/laser_odom_to_init" to="~laser_odom_to_init"/>
      <remap from="/laser_odom_path" to="~laser_odom_path"/>
      <remap from="/laser_cloud_corner_last" to="~laser_cloud_corner_last"/>
      <remap from="/laser_cloud_surf_last" to="~laser_cloud_surf_last"/>

    </node>

    <!-- Mapping node -->
    <node pkg="aloam_velodyne" type="alaserMapping" name="aloam_mapping" output="screen">

      <!-- Subscribers -->
      <remap from="/velodyne_cloud_3" to="aloam_odometry/ouster_cloud_3"/>
      <remap from="/laser_odom_to_init" to="aloam_odometry/laser_odom_to_init"/>
      <remap from="/laser_cloud_corner_last" to="aloam_odometry/laser_cloud_corner_last"/>
      <remap from="/laser_cloud_surf_last" to="aloam_odometry/laser_cloud_surf_last"/>

      <!-- Publishers -->
      <remap from="/velodyne_cloud_registered" to="~ouster_cloud_registered"/>
      <remap from="/laser_cloud_map" to="~laser_cloud_map"/>
      <remap from="/laser_cloud_surround" to="~laser_cloud_surround"/>
      <remap from="/aft_mapped_path" to="~aft_mapped_path"/>
      <remap from="/aft_mapped_to_init" to="~aft_mapped_to_init"/>
      <remap from="/aft_mapped_to_init_high_frec" to="~aft_mapped_to_init_high_frec"/>

    </node>

    <!-- Transform node -->
    <node pkg="nodelet" type="nodelet" name="cloud_transform" args="standalone cloud_transform/CloudTransform" output="screen" launch-prefix="$(arg launch_prefix)" >

      <!-- <param name="target_frame" type="string" value="$(arg sensor_frame)" /> -->
      <param name="target_frame" type="string" value="$(arg fcu_frame)" />

      <!-- Subscribers -->
      <remap from="~cloud_scan_in" to="os1_cloud_node/points" />

      <!-- Publishers -->
      <remap from="~cloud_transformed_out" to="os1_cloud_node/points/sensor_frame" />

    </node>

    <!-- TF Ouster -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="ouster_to_$(arg fcu_frame)" args="0.0 0.0 0.15 0 0.0 0.0 $(arg fcu_frame) $(arg sensor_frame)" />

    <group if="$(arg rviz)">
      <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find aloam_velodyne)/rviz/aloam_velodyne.rviz" />
    </group>

  </group>

</launch>
